body {
    user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    -webkit-user-select: text;
}

body .container .description {
    margin-right: 10%;
    margin-left: 5%;
    font-size: 25px;
    white-space: pre-line;
}

body .container .description .section {
    font-weight: bold;
    margin-left: 8%;
    font-size: 28px;
    line-height: 1.2;
}

body .container .description .sep {
    display: inline-block;
    border-left: 2px solid #EFEFEF;
    margin: 0px 0px 0px 15px;
    padding: 0px 15px 0px 15px;
    transition: border-color 0.75s;
    width: 40%;
    height: auto;
    vertical-align: text-top;
}

body .container .description .sep:hover {
    border-color: #6f85ff;
}

body .container .description .sep .title {
    font-weight: bolder;
}

body .container .description .inline-codeblock {
    padding: 5px;
    font-weight: bolder;
    color: inherit;
    border-radius: 4px;
    background-color: #1c1e24;
    display: inline-block;
    font-size: 23px;
}

@media only screen and (max-width: 650px) {
    body .container .description {
        font-size: 13px;
    }
    body .container .description .section {
        font-size: 14px;
    }
    body .container .description .inliner::after {
        content: '\A\A';
    }
    body .container .description .inline-codeblock {
        font-size: 11px;
    }
}
@media only screen and (min-width: 650px) and (max-width: 900px) {
    body .container .description {
        font-size: 19px;
    }
    body .container .description .section {
        font-size: 21px;
    }
    body .container .description .inline-codeblock {
        font-size: 17px;
    }
}