body .spacer_top {
    width: inherit;
    height: 25%;
}

body .spacer_left {
    margin-left: 10%;
    width: 90%;
    height: 75%;
}

body .container {
    line-height: 0.9;
    font-size: 60px;
    transition: font-size 0.5s;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
}

body .container .title {
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

body .container .subtitle {
    font-size: 20px;
    margin-left: 10px;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    transition: font-size 0.5s;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
}

body .container .spacer {
    width: 100%;
    height: 50px;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    body .container {
        font-size: 30px;
    }
    body .container .subtitle {
        font-size: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    body .container {
        font-size: 45px;
    }
    body .container .subtitle {
        font-size: 15px;
    }
}
