body .spacer_top {
    width: inherit;
    height: 25%;
}

body .spacer_left {
    margin-left: 10%;
    width: 90%;
    height: 75%;
}

body .container {
    line-height: 0.9;
    font-size: 60px;
}

body .container .title {
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

body .container .subtitle {
    font-size: 20px;
    margin-left: 10px;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

body .container .spacer {
    width: 100%;
    height: 50px;
    background-color: transparent;
}