body .container ul {
    line-height: 0.95;
    list-style: none;
    padding: 0;
    margin: 0;
}

body .container ul .item {
    font-weight: bolder;
    font-style: normal;
}

base-link {
    text-decoration: none;
}