body .container ul {
    line-height: 0.95;
    list-style: none;
    padding: 0;
    margin: 0;
}

body .container ul .item {
    color: #999999;
    width: auto;
    transition: color 0.6s;
    -webkit-transition: color 0.6s;
    -moz-transition: color 0.6s;
    -o-transition: color 0.6s;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

body .container ul .item:hover {
    color: #6f85ff;
    cursor: pointer;
}